<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingwei.um.mapper.CommodityOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lingwei.um.entity.CommodityOrder">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="mbr_id" property="mbrId" />
        <result column="dep_id" property="depId" />
        <result column="cost_price" property="costPrice" />
        <result column="current_price" property="currentPrice" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
